{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title_block %} Create Event {% endblock title_block %}
<!--Page content Here-->
{% block body_block %}
<!--start login form -->
<div class="container">
   <div class="card border-top border-0 border-4 border-dark">
      <div class="card-body p-5 mx-5">
         <div class="card-title text-center">
            <i class="bx bx-trophy text-dark font-50"></i>
            <h5 class="mb-5 mt-2 text-dark">Event Registration</h5>
         </div>
         <hr />
         {% if error_message %}
         <div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2">
            <div class="d-flex align-items-center">
               <div class="font-35 text-white"><i class="bx bxs-{{ message.tags }}-square-x"></i></div>
               <div class="ms-3">
                  <h6 class="mb-0 text-white">{{ error_message }}</h6>
               </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {% endif %}
         <form class="row g-3 mt-4 mx-auto px-5" method="POST">
            {% csrf_token %} {{ form|crispy }}
            <div class="card radius-10 w-50 mx-auto mt-4">
               <div class="card-body">
                  <div class="d-flex align-items-center">
                     <div>
                        <h4 id="captcha" class="text-center font-35"></h4>
                     </div>
                     <button id="reload-btn" class="widgets-icons bg-light-info text-info ms-auto border-0">
                        <i class="lni lni-reload"></i>
                     </button>
                  </div>
               </div>
               <div class="card-footer">
                  <div class="d-flex align-items-center">
                     <div>
                        <input
                           id="input-captcha"
                           class="form-control"
                           type="text"
                           placeholder="Enter Captcha"
                           maxlength="6"
                           spellcheck="false"
                           required
                        />
                     </div>
                     <div class="text-success ms-auto">
                        <button id="check-btn" type="submit" class="btn btn-outline-success px-5">Verify</button>
                     </div>
                  </div>
                  <div class="mt-3">
                     <span id="status-text" class="font-20 text-center"></span>
                  </div>
               </div>
            </div>
            <div class="d-grid">
               <button type="submit" class="btn btn-outline-success px-5">Register</button>
            </div>
         </form>
      </div>
   </div>
   <!--end login form -->
</div>

{% endblock body_block %}
