{% extends 'base.html' %} {% load crispy_forms_tags %} {% load group_check %}
<!--title-->
{% block title_block %} {{event.event_title}} {% endblock title_block %}
<!--Page content Here-->
{% block body_block %}
<div class="card">
   <div class="row g-0">
      <div class="col-md-4 border-end">
         <img src="/media/{{event.event_banner}}" class="img-fluid" alt="{{event.event_title}}" />
      </div>
      <div class="col-md-8">
         <div class="card-body">
            <h4 class="card-title">{{event.event_title}}</h4>

            <div class="mb-3"></div>
            <hr />
            <p class="card-text fs-6">{{event.description}}</p>
            <dl class="row">
               <dt class="col-sm-3">Event Venue:</dt>
               <dd class="col-sm-9">{{event.venue}}</dd>

               <dt class="col-sm-3">Start Date:</dt>
               <dd class="col-sm-9">{{event.start_datetime}}</dd>

               <dt class="col-sm-3">End Date:</dt>
               <dd class="col-sm-9">{{event.start_datetime}}</dd>

               <dt class="col-sm-3">Registration Fee:</dt>
               <dd class="col-sm-9">&#2547; {{event.registration_fee}}</dd>

               <dt class="col-sm-3">Registration Deadline:</dt>
               <dd class="col-sm-9">{{event.registration_deadline}}</dd>
            </dl>
            <hr />
            <div class="row row-cols-auto row-cols-1 row-cols-md-3 align-items-center">
               <div class="col">
                  <label class="form-label">Event Link</label>
                  <div class="input-group input-spinner">
                     <a href="{{event.event_link}}">{{event.event_title}}'s Link</a>
                  </div>
               </div>
               <div class="col">
                  <label class="form-label">Facebook Link</label>
                  <div class="input-group input-spinner">
                     <a href="{{event.event_fb_link}}">{{event.event_title}}'s Facebook Link</a>
                  </div>
               </div>
            </div>
            <hr />
            <div class="d-flex gap-3 mt-3">
               <a href="{% url 'App_Event:event_registration_view' pk=event.pk %}" class="btn btn-outline-success px-5"
                  ><span class="text">Register</span></a
               >
            </div>
         </div>
      </div>
   </div>
   <hr />
   <div class="card-body">
      <ul class="nav nav-tabs nav-primary mb-0" role="tablist">
         <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#primaryhome" role="tab" aria-selected="true">
               <div class="d-flex align-items-center">
                  <div class="tab-icon"><i class="bx bx-comment-detail font-18 me-1"></i></div>
                  <div class="tab-title">Event Notice</div>
               </div>
            </a>
         </li>
         <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#primaryprofile" role="tab" aria-selected="false">
               <div class="d-flex align-items-center">
                  <div class="tab-icon"><i class="bx bx-star font-18 me-1"></i></div>
                  <div class="tab-title">Event Photos</div>
               </div>
            </a>
         </li>
         <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#primarycontact" role="tab" aria-selected="false">
               <div class="d-flex align-items-center">
                  <div class="tab-icon"><i class="bx bx-star font-18 me-1"></i></div>
                  <div class="tab-title">Event Volunteers</div>
               </div>
            </a>
         </li>
      </ul>

      <div class="tab-content pt-3">
         <!--Event Notice Section-->
         <div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
            {% if request.user.is_authenticated and request.user|has_group:"ClubAdmin" %}
            <div class="d-lg-flex align-items-center mb-4 gap-3">
               <div class="position-relative"></div>
               <div class="ms-auto">
                  <a href="{% url 'App_Event:add_event_notice' pk=event.id%}" class="btn btn-primary radius-30 mt-2 mt-lg-0"
                     ><i class="bx bxs-plus-square"></i>Add Notice</a
                  >
               </div>
            </div>
            {% endif %}
            <!--Loop for Event Notice-->
            <div class="row">
               {% for event_notice in event_notices %}
               <div class="col-sm-10 col-md-4 col-lg-4">
                  <div class="card">
                     <div class="card-body">
                        <p class="card-text">{{ event_notice|linebreaks }}</p>
                        {% if request.user.is_authenticated and request.user|has_group:"ClubAdmin" %}
                        <a
                           href="{% url 'App_Event:delete_event_notice' pk=event_notice.id %}"
                           class="btn btn-sm btn-outline-danger"
                           >Delete</a
                        >

                        {% endif %}
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            <!--End Event Notice Section-->
         </div>
         <!--Event Photos Section-->
         <div class="tab-pane fade" id="primaryprofile" role="tabpanel">
            {% if request.user.is_authenticated and request.user|has_group:"ClubAdmin" %}
            <div class="d-lg-flex align-items-center mb-4 gap-3">
               <div class="position-relative"></div>
               <div class="ms-auto">
                  <a href="{% url 'App_Event:add_event_photo' pk=event.id %}" class="btn btn-primary radius-30 mt-2 mt-lg-0"
                     ><i class="bx bxs-plus-square"></i>Upload Photos</a
                  >
               </div>
            </div>
            {% endif %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-4">
               {% for photo in event_photos %}
               <div class="col">
                  <div class="card">
                     <img src="/media/{{photo.event_photo}}" class="card-img-top" alt="..." />
                     <div class="card-body">
                        {% if request.user.is_authenticated and request.user|has_group:"ClubAdmin" %}
                        <a href="{% url 'App_Event:delete_event_photo' pk=photo.id %}" class="btn btn-outline-danger">Delete</a>
                        {% endif %}
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         <!--End of Event Photos Section-->
         <!--Event Volunteer Section-->
         <div class="tab-pane fade" id="primarycontact" role="tabpanel">
            <div class="card">
               <div class="card-body">
                  {% if request.user.is_authenticated and request.user|has_group:"ClubAdmin" %}
                  <div class="d-lg-flex align-items-center mb-4 gap-3">
                     <div class="position-relative"></div>
                     <div class="ms-auto">
                        <a
                           href="{% url 'App_Volunteer:add_volunteer' pk=event.pk %}"
                           class="btn btn-primary radius-30 mt-2 mt-lg-0"
                           ><i class="bx bxs-plus-square"></i>Add New Volunteer</a
                        >
                     </div>
                  </div>
                  {% endif %}
                  <div class="table-responsive">
                     <table class="table mb-0">
                        <thead class="table-light">
                           <tr>
                              <th>#</th>
                              <th>Volunteer Name</th>
                              <th>Phone No</th>
                              <th>Volunteer ID</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for volunteer in event_volunteers %}
                           <tr>
                              <td>
                                 <div class="d-flex align-items-center">
                                    <div class="ms-2">
                                       <h6 class="mb-0 font-14">{{forloop.counter}}</h6>
                                    </div>
                                 </div>
                              </td>
                              <td>{{volunteer.volunteer.user.full_name}}</td>
                              <td>{{volunteer.volunteer.phone_no}}</td>
                              <td>{{volunteer.volunteer.user.username}}</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <!--Event Volunteer Section-->
      </div>
   </div>

   {% endblock body_block %}
</div>
