{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title_block %} Add Event Photo {% endblock title_block %}
<!--Page content Here-->
{% block body_block %}
<!--start login form -->
<div class="container">
   <div class="card border-top border-0 border-4 border-dark">
      <div class="card-body p-5">
         <div class="card-title text-center">
            <i class="bx bxs-user-circle text-dark font-50"></i>
            <h5 class="mb-5 mt-2 text-dark">Add Event Photo</h5>
         </div>
         <hr />
         <form class="row g-3 mt-4 mx-auto" method="POST" enctype="multipart/form-data" style="width: 500px">
            {% csrf_token %} {{ form|crispy }}
            <div class="d-grid">
               <button type="submit" class="btn btn-outline-success px-5">Upload</button>
            </div>
         </form>
      </div>
   </div>
   <!--end login form -->
</div>

{% endblock body_block %}
