{% extends 'base.html' %} {% block title_block %} Email Confirmation {% endblock title_block %}
<!--Content here-->
{% block body_block %}
<div class="card radius-10">
   <div class="card-body">
      <div class="text-center">
         <div class="widgets-icons rounded-circle mx-auto bg-light-info text-info mb-3">
            <i class="lni lni-envelope"></i>
         </div>
         <h4 class="my-1">Thanks for registration!!!</h4>
         <p class="mb-0 text-secondary">
            A confirmation Email has been sent to your Email with a Link. <br />
            Please confirm your registration!!
         </p>
      </div>
   </div>
</div>
{% endblock body_block %}
