{% extends 'base.html' %} {% load crispy_forms_tags %} {% load total_participant %}
<!---->
{% block title_block %} Create Event {%endblock title_block %}
<!--Page content Here-->
{% block body_block %}
<!--start login form -->
<div class="page-content">
   <div class="page-breadcrumb d-none d-sm-flex align-items-center my-3">
      <div class="breadcrumb-title pe-3">Event</div>
      <div class="ps-3">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
               <li class="breadcrumb-item">
                  <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
               </li>
               <li class="breadcrumb-item active" aria-current="page">{{event_title}} Event Status</li>
            </ol>
         </nav>
      </div>
   </div>
   <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
         <div class="card radius-10 overflow-hidden">
            <div class="card-body">
               <p class="text-dark font-20">Total Partiticipant</p>
               <h3>{{event.id|verified_participant}}</h3>
               <div class="progress my-3 bg-danger" style="height: 3px"></div>
               <p class="mb-0"><span class="float-end"></span></p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card radius-10 overflow-hidden">
            <div class="card-body">
               <p class="text-dark font-20">Total Attended</p>
               <h3>{{event.id|total_attendence}}</h3>
               <div class="progress my-3 bg-danger" style="height: 3px"></div>
               <p class="mb-0"><span class="float-end"></span></p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card radius-10 overflow-hidden">
            <div class="card-body">
               <p class="text-dark font-20">Total Amount Received</p>
               <h3>{{event.id|verified_participant}}</h3>
               <div class="progress my-3 bg-danger" style="height: 3px"></div>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card radius-10 overflow-hidden">
            <div class="card-body">
               <p class="text-success font-20">Available</p>
               <h3>{{event.id|available_kit_token}}</h3>
               <div class="progress my-3 bg-primary" style="height: 3px"></div>
               <p class="mb-0">Total Kit Token <span class="float-end">{{event.id|verified_participant}}</span></p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card radius-10 overflow-hidden">
            <div class="card-body">
               <p class="text-success font-20">Available</p>
               <h3>{{event.id|available_breakfast_token}}</h3>
               <div class="progress my-3 bg-primary" style="height: 3px"></div>
               <p class="mb-0">Total Breakfast Token <span class="float-end">{{event.id|verified_participant}}</span></p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card radius-10 overflow-hidden">
            <div class="card-body">
               <p class="text-success font-20">Available</p>
               <h3>{{event.id|available_lunch_token}}</h3>
               <div class="progress my-3 bg-primary" style="height: 3px"></div>
               <p class="mb-0">Total Lunch Token <span class="float-end">{{event.id|verified_participant}}</span></p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card radius-10 overflow-hidden">
            <div class="card-body">
               <p class="text-success font-20">Available</p>
               <h3>{{event.id|available_snacks_token}}</h3>
               <div class="progress my-3 bg-primary" style="height: 3px"></div>
               <p class="mb-0">Total Snacks Token <span class="float-end">{{event.id|verified_participant}}</span></p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card radius-10 overflow-hidden">
            <div class="card-body">
               <p class="text-success font-20">Available</p>
               <h3>{{event.id|available_misc_token}}</h3>
               <div class="progress my-3 bg-primary" style="height: 3px"></div>
               <p class="mb-0">Total Misc Token <span class="float-end">{{event.id|verified_participant}}</span></p>
            </div>
         </div>
      </div>
   </div>
   <div class="card radius-10">
      <div class="card-body">
         <div class="d-flex align-items-center">
            <div>
               <h5 class="mb-0">Event Participant</h5>
            </div>
            <div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i></div>
         </div>
         <hr />
         <div class="table-responsive">
            <table class="table align-middle mb-0">
               <thead class="table-light">
                  <tr>
                     <th>Reg id</th>
                     <th>Participant</th>
                     <th>Attendence</th>
                     <th>Kit</th>
                     <th>Breakfast</th>
                     <th>Lunch</th>
                     <th>Sancks</th>
                     <th>Misc</th>
                  </tr>
               </thead>
               <tbody>
                  {% for p in verified_participants %}
                  <tr>
                     <td>{{p.participant.event_reg_id}}</td>
                     <td>
                        <h6 class="mb-1 font-14">{{p.participant.participant_name}}</h6>
                     </td>
                     <td>
                        {% if p.attendence == True %}
                        <div class="badge rounded-pill bg-light-success py-2">
                           <span class="px-2 text-success">Present</span>
                        </div>
                        {% else %}
                        <div class="badge rounded-pill bg-light-success py-2">
                           <a href="{% url 'App_Dashboard:attendence_participant' pk=p.id %}" class="px-2 text-danger">Verify</a>
                        </div>
                        {% endif %}
                     </td>
                     <td>
                        {% if p.kit_token == True %}
                        <div class="badge rounded-pill bg-light-success py-2">
                           <span class="px-2 text-success">Received</span>
                        </div>
                        {% else %}
                        <div class="badge rounded-pill bg-light-danger text-info py-2">
                           <a href="{% url 'App_Dashboard:kit_token' pk=p.id %}" class="px-2 text-danger">Not Received</a>
                        </div>
                        {% endif %}
                     </td>
                     <td>
                        {% if p.breakfast_token == True %}
                        <div class="badge rounded-pill bg-light-success text-dark py-2">
                           <span class="px-2 text-success">Received</span>
                        </div>
                        {% else %}
                        <div class="badge rounded-pill bg-light-danger text-info py-2">
                           <a href="{% url 'App_Dashboard:breakfast_token' pk=p.id %}" class="px-2 text-danger">Not Received</a>
                        </div>
                        {% endif %}
                     </td>
                     <td>
                        {% if p.lunch_token == True %}
                        <div class="badge rounded-pill bg-light-success text-dark py-2">
                           <span class="px-2 text-success">Received</span>
                        </div>
                        {% else %}
                        <div class="badge rounded-pill bg-light-danger text-info py-2">
                           <a href="{% url 'App_Dashboard:lunch_token' pk=p.id %}" class="px-2 text-danger">Not Received</a>
                        </div>
                        {% endif %}
                     </td>
                     <td>
                        {% if p.snacks_token == True %}
                        <div class="badge rounded-pill bg-light-success text-dark py-2">
                           <span class="px-2 text-success">Received</span>
                        </div>
                        {% else %}
                        <div class="badge rounded-pill bg-light-danger text-info py-2">
                           <a href="{% url 'App_Dashboard:snacks_token' pk=p.id %}" class="px-2 text-danger">Not Received</a>
                        </div>
                        {% endif %}
                     </td>
                     <td>
                        {% if p.misc_token == True %}
                        <div class="badge rounded-pill bg-light-success text-dark py-2">
                           <span class="px-2 text-success">Received</span>
                        </div>
                        {% else %}
                        <div class="badge rounded-pill bg-light-danger text-info py-2">
                           <a href="{% url 'App_Dashboard:misc_token' pk=p.id %}" class="px-2 text-danger">Not Received</a>
                        </div>
                     </td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <!--end row-->

   {% endblock body_block %}
</div>
