{% extends 'base.html' %} {% block title_block %} Browse Events of SUB {% endblock title_block %}
<!--Start Page content-->
{% block body_block %}
<div class="page-content">
   <!--breadcrumb-->
   <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">SUB Computing Club</div>
      <div class="ps-3">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
               <li class="breadcrumb-item">
                  <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
               </li>
               <li class="breadcrumb-item active" aria-current="page">My Events</li>
            </ol>
         </nav>
      </div>
   </div>
   <!--end breadcrumb-->
   <h6 class="mb-0 text-uppercase">Events of SUB Computing Club</h6>
   <hr />
   <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
      {% for e_v in event_volunteers %}
      <div class="col">
         <div class="card">
            <img src="/media/{{e_v.event.event_banner}}" class="card-img-top" alt="..." />
            <div class="card-body">
               <h5 class="card-title">{{ e_v.event.event_title }}</h5>
               <p class="card-text">{{e_v.event.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">Venue: {{e_v.event.venue}}</li>
               <li class="list-group-item">Start Time: {{e_v.event.start_datetime}}</li>
               <li class="list-group-item">End Time: {{e_v.event.end_datetime}}</li>
               <li class="list-group-item">Registration Fee: &#2547; {{e_v.event.registration_fee|floatformat:2}}</li>
               <li class="list-group-item">Registration Deadline: {{e_v.event.registration_deadline}}</li>
            </ul>
            <div class="card-body w-100">
               <a href="{% url 'App_Dashboard:active_event_details' pk=e_v.event.pk %}" class="btn btn-outline-info px-5 w-100"
                  >View Details</a
               >
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   <!--end row-->
</div>
{% endblock body_block %}
